
@{
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

@{ 
    ViewBag.Title = "Home Page";
}

@section AdditionalMeta{ 
    <meta name="description" content="หน้าหลัก" />
}

<br />
<div class="row">
    <!-- Implement here -->
</div>